<h1><%= @subsidiary.name %></h1>
<ul>
  <li><%= @subsidiary.cnpj %></li>
  <li><%= @subsidiary.address %></li>
</ul>

<p><%= link_to "Editar", edit_subsidiary_path(@subsidiary) %></p>
<p><%= link_to "Voltar", subsidiaries_path %></p>

