<h1>Registar Categoria</h1>

<%= form_for @car_category do |c| %>
  <%= c.label :name, 'Nome' %>
  <%= c.text_field :name %>
  <%= c.label :daily_rate, 'Diária' %>
  <%= c.number_field :daily_rate %>
  <%= c.label :car_insurance, 'Seguro do carro' %>
  <%= c.number_field :car_insurance %>
  <%= c.label :third_part_insurance, 'Seguro contra terceiros' %>
  <%= c.number_field :third_part_insurance %>
  <%= c.submit 'Enviar' %>
<% end %>
