<h1>Categoria <%= @carcategory.name %></h1>
<lu>
  <li>Diária: <%= number_to_currency @carcategory.daily_rate %> </li>
  <li>Seguro do Carro: <%= number_to_currency @carcategory.car_insurance %> </li>
  <li>Seguro para Terceiros: <%= number_to_currency @carcategory.third_part_insurance %> </li>
</lu>

<h3>Modelos de carro</h3>
<% @car_models.each do |car_model|%>
  <%= link_to car_model.name, car_model %>
<% end %>

<p><%= link_to "Voltar", carcategories_path %></p>
