<h1><%= @carcategory.name %></h1>
<lu>
  <li> <%= @carcategory.daily_rate %> </li>
  <li> <%= @carcategory.car_insurance %> </li>
  <li> <%= @carcategory.third_party_insurance %> </li>
</lu>

<p><%= link_to "Voltar", carcategories_path %></p>
